// fonts variable
$body-font: 'Roboto', sans-serif; 
$header-font: 'Dosis', sans-serif;

//scrollbar variable
$scrollbar-track-shadow: #D8D8D8;
$scrollbar-handle: #D8D8D8;
$scrollbar-handle-hover: #D8D8D8;
